@model OnlineShoppingApp.Models.Item

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="well page-header"><b>@Model.Name</b> - $@Model.Price</h2>

<div class="col-md-4">
    <img src="@Model.PictureUrl" style="overflow: hidden; position: relative; width:300px; height:300px;" />
</div>

<div class="col-md-8">
    <p><b>Description:</b><br />@Model.Description</p>
    <p><b>Price:</b> $@Model.Price</p>
    <p><b>Category:</b> @Model.Category.Name</p>
    <p><b>Seller:</b> @Model.User.Name - @Model.User.UserName</p>
    <p>
        <b>Payment: </b>
        <img src="~/Content/Images/Payment/logoPayPal_51x14.png" style="overflow: hidden; position: relative; width:30px; height:15px;" />
        <img src="~/Content/Images/Payment/logo1.png" style="overflow: hidden; position: relative; width:30px; height:15px;" />
        <img src="~/Content/Images/Payment/logo2.jpg" style="overflow: hidden; position: relative; width:30px; height:15px;" />
    </p>
    <br />
    <button class="btn btn-default">@Html.ActionLink("Add to cart ", "OrderNow", "ShoppingCart", new { id = Model.Id }, null)<span class="glyphicon glyphicon-shopping-cart"></span></button>
    <button class="btn btn-default">Add to wishlist</button>
</div>

