@model OnlineShoppingApp.ViewModels.ItemsViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="page-header">Items</h2>
<div class="col-md-2">
    <ul id="categories" class="list-group">
        @foreach (var category in Model.Categories)
        {
            <li class="list-group-item">@Html.ActionLink(@category.Name, "Filtered", new { categoryId = category.Id })</li>
        }
    </ul>
</div>
<div class="col-md-10">
    <table id="items" class=" table table-responsive table-hover col-md-10">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr onclick="location.href = '@(Url.Action("Details", "Items", new { id = item.Id }))'">
                    <td>
                        <img src="@item.PictureUrl" style="overflow: hidden; position: relative; width:100px; height:100px;" />
                    </td>
                    <td>
                        <b>@Html.ActionLink(@item.Name, "Details", new { id = item.Id })</b>
                        <br />
                        <i>Category: @item.Category.Name</i>
                    </td>
                    <td>
                        <b>$@(item.Price)</b>
                        <br />
                        @Html.ActionLink("Add to cart ", "OrderNow", "ShoppingCart", new { id = item.Id }, null )<span class="glyphicon glyphicon-shopping-cart"></span>
                        <br />
                        @Html.ActionLink("Add to wishlist ", "AddToWishlist", "Wishlists", new { id = item.Id}, null)<span class="glyphicon glyphicon-heart-empty"></span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>